{% extends 'base.html' %}
{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Home</li>
        </ol>
    </nav>

    <ul class="list-group">
        {% for project in projects %}
            <a href="{% url 'project-detail' project.id %}">
                <li class="list-group-item project">{{ project }}</li>
            </a>
        {% endfor %}
    </ul>


{% endblock %}

{% block scripts %}
    {% load static %}
    <script src="{% static "tracking/tracking.js" %}"></script>
{% endblock %}
