{% extends 'base.html' %}
{% load i18n admin_modify admin_static %}
{% block content %}
<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'tracker' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ project }}</li>
        </ol>
    </nav>

    <h1>{{ project }}</h1>
    <table class="table">
        <tr>
            <td><b>Tarea</b></td>
            <td><b>Horas estimadas</b></td>
            <td><b>Horas trabajadas</b></td>
        </tr>

        {% for task in employee.assigned_tasks.all %}

            <tr>
                <td>
                    <a href="{% url 'update-task' project.id task.id %}">
                        {{ task.description }}
                    </a>
                </td>
                <td>{{ task.hours_estimated }}</td>
                <td>{{ task.hours_spent }} {% if task.hours_spent > task.hours_estimated%}<i class="fas fa-exclamation-circle"></i>{% endif %}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block scripts %}
{{ form.media }}

{% load static %}
<script src="{% static "tracking/tracking.js" %}"></script>
{% endblock %}