{% extends 'base.html' %}
{% load i18n admin_modify admin_static %}
{% block content %}
<nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'tracker' %}">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ project }}</li>
        </ol>
    </nav>

    <h1>{{ project }}</h1>

{#    <form action="{% url 'project-detail' project.id %}" method="post">#}
{#    {% csrf_token %}#}
{#    {{ form.as_ul }}#}
{#    <input type="submit" value="Submit">#}
{##}
{#    #}
{#</form>#}

    <table class="table">
        <tr>
            <td>Tarea</td>
            <td>Horas estimadas</td>
            <td>Horas trabajadas</td>
            <td>Cargar</td>
        </tr>

        {% for task in project.task_set.all %}

            <tr>
                <td>{{ task.description }}</td>
                <td>{{ task.hours_estimated }}</td>
                <td>{{ task.hours_spent }} {% if task.hours_spent > task.hours_estimated%}<i class="fas fa-exclamation-circle"></i>{% endif %}</td>

                    <form action="{% url 'update-project' project.id task.id %}" method="post">
                <td>
                                <div class="pull-right">
                <div style="text-align:right; width:40px; display: inline-block;">
                        {% csrf_token %}
                        {{ form.as_table|add_class: 'text-align:right; width:40px; display: inline-block;' }}
                </div>
            </div>

            </td>
            <td>
                <button class="button"><i class="fas fa-plus-square"></i></button>
            </td>
                                                                </form>

            </tr>
        {% endfor %}
    </table>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/jsi18n/"></script>
{{ form.media }}

{% load static %}
<script src="{% static "tracking/tracking.js" %}"></script>
{% endblock %}